<cache expires-after="TimeSpan.FromDays(3)">
    <div class="col-12">
        <div class="card  bg-secondary">
            @*<img style="width:100%; height:393px; object-fit: cover;"
                src="https://cdn.pixabay.com/photo/2016/04/30/13/12/sutterlin-1362879_1280.jpg" alt="...">*@
            <div id="carouselExampleCaptions" class="carousel slide" data-interval="2000" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img style="width:100%; height:393px; object-fit: cover;"
                             src="https://cdn.pixabay.com/photo/2015/06/02/12/59/book-794978_1280.jpg"
                             class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">

                            <p>
                                „Книгите са най- тихите и най- верните приятели, те са най- откритите и най- мъдрите съветници
                                и в същото време най- търпеливите учители.“
                            </p>
                            <h6 style="text-align: unset; font-style: italic;">Чарлз Елиът</h6>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img style="width:100%; height:393px; object-fit: cover;"
                             src="https://cdn.pixabay.com/photo/2016/04/30/13/12/sutterlin-1362879_1280.jpg"
                             class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">

                            <p>„Има множество малки начини да разширите света на детето си. Любовта към книгите е най- добрият от тях.“</p>
                            <h6 style="text-align: unset; font-style: italic;">Джаки Кенеди Онасис</h6>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img style="width:100%; height:393px; object-fit: cover;"
                             src="https://cdn.pixabay.com/photo/2014/08/16/18/17/book-419589_1280.jpg"
                             class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none text-dark d-md-block">

                            <p>„Получих образованието си в библиотеката. Напълно безплатно.“</p>
                            <h6 style="text-align: unset; font-style: italic;">Рей Бредбъри</h6>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img style="width:100%; height:393px; object-fit: cover;"
                             src="https://cdn.pixabay.com/photo/2018/03/19/18/20/tea-time-3240766_1280.jpg"
                             class="d-block w-100" alt="...">
                        <div class="carousel-caption d-none d-md-block">

                            <p>„Няма такава книга, от която човек не би могъл да научи нещо.“</p>
                            <h6 style="text-align: unset; font-style: italic;">Гьоте</h6>
                        </div>
                    </div>
                </div>
                <br />
            </div>
        </div>
    </div>

</cache>