<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/product/">


    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
        body {
            background-image: url("photo.png");
        }

        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        .b-example-divider {
            height: 3rem;
            background-color: rgba(0, 0, 0, .1);
            border: solid rgba(0, 0, 0, .15);
            border-width: 1px 0;
            box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
        }

        .b-example-vr {
            flex-shrink: 0;
            width: 1.5rem;
            height: 100vh;
        }

        .bi {
            vertical-align: -.125em;
            fill: currentColor;
        }

        .nav-scroller {
            position: relative;
            z-index: 2;
            height: 2.75rem;
            overflow-y: hidden;
        }

            .nav-scroller .nav {
                display: flex;
                flex-wrap: nowrap;
                padding-bottom: 1rem;
                margin-top: -1px;
                overflow-x: auto;
                text-align: center;
                white-space: nowrap;
                -webkit-overflow-scrolling: touch;
            }
    </style>


    <!-- Custom styles for this template -->
    <link href="product.css" rel="stylesheet">
</head>
<body>

    <header class="bg-muted site-header sticky-top py-1">
        <nav class="container d-flex flex-column flex-md-row justify-content-between">
            <a class=" py-2 d-none d-md-inline-block" asp-area="" asp-controller="Home" asp-action="Index"><img style="width: 15%" src="home_icon.png" alt="home icon"></a>
            <a class=" py-2 d-none d-md-inline-block" asp-area="" asp-controller="Products" asp-action="GroceriesIndex">Хранителни продукти</a>
            <a class=" py-2 d-none d-md-inline-block" asp-area="" asp-controller="Products" asp-action="ClothesIndex">Дрехи, обувки и аксесоари</a>
            <a class=" py-2 d-none d-md-inline-block" asp-area="" asp-controller="Products" asp-action="HomeIndex">За дома</a>
            <a class=" py-2 d-none d-md-inline-block" asp-area="" asp-controller="Products" asp-action="PetIndex">За домашния любимец</a>
        </nav>
    </header>

    <main>
        @RenderBody()
    </main>

    <footer class="container py-5">
        <h5 class="text-center">За нас</h5>
        <div class="row">

            <div class="col-6 col-md">
                <ul class="list-unstyled text-small">
                    <li>Телефон: 0809534826</li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <ul class="list-unstyled text-small">
                    <li>Адрес: град Пловдив</li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <ul class="list-unstyled text-small">
                    <li>Email: digitalist@gmail.com</li>
                </ul>
            </div>
        </div>
    </footer>


    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
